.drchoi{
  max-width: 220px;
  height: auto;
  float : left;
  margin-right: 5%;
}

.intro {
  font-size : 1.4em;
}

#letter-container {
  margin-top: 30px;
}

.jum1 {
  font-family: 'NanumBarunGothic';
  border-radius: 10px 10px 10px 10px;
  padding : 5% 3% 5% 3%;
  width : 100%;
}

.chiyakintro-container {
  padding: 5% 3% 0 3%;
}

#vitaminVideo {
  max-width: 90%;
}

#video-title {
  color: #9595ea;
}

.drchoi-h {
  background-image: url('../img/drChoi.png');
  background-repeat: no-repeat;
  height : 250px;
  margin-left: 35%;
  font-size : 4em;
  text-align: right;
  font-family: 'Nanum Brush Script';
}

.span {
  position : relative;
  top : 120px;
  margin-left : 0%;
}

@media screen and (max-width: 500px) {
  .drchoi-h {
    font-size: 2.5em;
  }
}

.capture {
  width: 70%;
}

@media screen and (max-width: 700px) {
  #vitaminVideo {
    max-width: 100%;
  }

  .capture {
    width: 100%;
  }
}

/*
.broadcast-history {
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: max-height 0.5s ease-out, visibility 0.5s linear;
}

.show-history {
  visibility: visible;
  max-height: 1000px;
  transition: max-height 0.5s ease-in;
}
*/

.show-history-button {
  margin: auto;
  background-color: white;
  display: block;
  width: 70%;
  max-width: 200px;
  border: 1.5px black solid;
  border-radius: 7px;
  padding: 8px;
  transition: background-color 0.5s;
  font-size: 0.8em;
}

.show-history-button:hover {
  background-color: #B39292;
  transition: background-color 0.5s;
}

