#community-share-container p {
  font-size: 1.2em;
  padding: 0 5%;
}

#share-image-container {
  margin: auto;
  padding: 30px;
  max-width: 70%;
}

.community-container {
  background-color: #b59580;
  padding: 30px 3% 10px 3%;
}

.community {
  font-size: 3em;
  text-align: left;
  margin: 0;
}

.community-linkbox {
  margin-top : 20%;
  margin-bottom: 3%;
  font-size: 1.2em;
}

.community-linkbox h2 {
  color: #4f391c;
}

.community-linkbox h4:hover{
  color : #4f391c;
}

#community-imagebox {
  padding: 1% 3% 3% 3%;
}

#linkbox-container {
  padding: 0 3% 3% 3%;
}
