.MainDiv {
  background-image: url('../img/tooth.jpeg');
  background-size: cover;
  max-width: 100%; /* Never scales above its original size */
}

.TitleCaption {
  font-family: 'nanum_yet_gothic', 'modern_gothic', sans-serif;
  padding-top: 10%;
  padding-bottom: 30%;
  color: white;
}

.home-subtitle1 {
  margin: 3%;
  padding: 3%;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

.home-subsection {
  padding-top: 1%;
  padding-bottom: 1%;
  border-left: 1px black solid;
  border-right: 1px black solid;
}

@media (max-width: 575px) {
  .TitleCaption {
    font-size: 1.2em;
  }
}
