.MainDiv {
  background-image: url('../img/img3.jpg');
  background-size: 100% 100%;
  max-width: 100%; /* Never scales above its original size */
}

h3 {
  color: tomato;
  margin: 2% 0 2% 0;
}

a {
  color: black;
}

a:hover {
  color: tomato;
  text-decoration: none;
}

img {
  width: 100%;
}

.TitleCaption {
  font-family: 'nanum_yet_gothic', 'modern_gothic', sans-serif;
  padding-top: 10%;
  padding-bottom: 30%;
  color: white;
}

@media (max-width: 575px) {
  .TitleCaption {
    font-size: 1.2em;
  }
}

.home-subtitle1 {
  margin-top: 4%;
}

.row-padding {
  padding-bottom: 3%;
}

.home-subsection {
  font-size: 1.5em;
  padding-top: 1%;
  padding-bottom: 1%;
}

@media (max-width: 1200px) {
  .home-subsection {
    font-size: 1.2em;
  }
}

.subsection-body {
  margin-top: 5%;
}

.sls{
  background-image: url('../img/sls.jpeg');
  width : 100%;
}

.jum {
  padding : 50px;
  color : white;
  font-size : 1.5em;
}
