.MainDiv {
  background-image: url('../img/img3.jpg');
  background-size: 100% 100%;
  max-width: 100%; /* Never scales above its original size */
}

h3 {
  color: #cc737f;
  margin: 2% 0 2% 0;
}

a {
  color: black;
}

a:hover {
  color: tomato;
  text-decoration: none;
}

img {
  width: 100%;
}

.TitleCaption {
  font-family: 'nanum_yet_gothic', 'modern_gothic', sans-serif;
  padding-top: 10%;
  padding-bottom: 30%;
  padding-left: 30px;
  color: white;
}

@media (max-width: 575px) {
  .TitleCaption {
  }
}

.home-subtitle1 {
  font-family: 'Nanum Barun Gothic', Helvetica Neue, sans-serif;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 50px;
}

.row-padding {
  padding-bottom: 3%;
}

.home-subsection {
  font-size: 1.5em;
  padding-top: 1%;
  padding-bottom: 1%;
}

@media (max-width: 1200px) {
  .home-subsection {
    font-size: 1.2em;
  }
}

.subsection-body {
  margin-top: 10px;
}

.sls{
  /* background-image: url('../img/sls.jpeg'); */
  background-size: 100% auto;
  width : 100%;
}

.jum {
  padding : 50px;
  color : black;
  font-size : 1.5em;
}

.question-mark {
  margin-left: 10px;
  height: 1.5em;
  width: auto;
}

.popover-content {
  max-width: 70vw;
  text-align: center;
}

.popover {
  max-width: 470px;
}

#popover-trigger-hover-focus {
  width: 70vw;
}

.good-stuff {
  padding-left: 4.167%;
}

.good-stuff-column {
  float: none;
  height: 100%;
}

.good-stuff-column-plus {
  float: none;
  height: 100%;
  padding-top: 50px !important;
}

@media (max-width:765px) {
  .good-stuff-column-plus {
    visibility: hidden;
    display: none;
  }

  h5 {
    font-size: 1.5em
  }

  .good-stuff-image-box {
    margin: 0 20%;
  }
}

.good-stuff-img {
  width: 100px;
  height: 100px;
}

.good-stuff-plus {
  height: 30px;
  width: 30px;
}

.goodstuff-tooltip p {
  margin: 0;
}

#flower {
  width: 80px;
}

.good-stuff-image-box {
  background-color: #ffecec;
  transition: background-color 0.5s;
  padding: 15px 0;
  border-radius: 10px;
}

.good-stuff-image-box:hover {
  background-color: white;
  transition: background-color 0.5s;
}

#good-stuff-row {
  padding-top: 10px;
}

#bad-stuff-row {
  background-color: #c9ffc7;
  padding-top: 10px;
  padding-bottom: 20px;
  padding: 10px 10% 20px 10%;
}

#SLS-info {
  color: gray;
}
