.header2 {
  top: 48px;
  background-image: none;
  background-color: lightblue;
  border-color: lightblue;
}

.nav-collapse-container {
  /* 항목들 중앙정렬시켜주는 부분 */
  float: right;
  position: relative;
  right: 50%;
  text-align: left;
}

.nav-center {
  /* 항목들 중앙정렬시켜주는 부분 */
  position: relative;
  left: 50%;
}
