.header2 {
  top: 100px;
  background-image: none;
  background-color: lightblue;
  border-color: lightblue;
}

.nav-collapse-container {
  /* 항목들 중앙정렬시켜주는 부분 */
  float: right;
  position: relative;
  right: 50%;
  text-align: left;
}

.nav-center {
  /* 항목들 중앙정렬시켜주는 부분 */
  position: relative;
  left: 50%;
  font-size: large;
}

.nav-center a{
  color : black;
}

.nav-center a:hover{
  color : white;
  text-decoration: none;
}

.navbar-collapse {
  position: relative;
}
