.header2 {
    top: 48px;
    background-image: none;
    background-color: lightblue;
    border-color: lightblue;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
}

.menu-text {
    align-content: center;
    color: red;
}
