.map {
  width: 100%;
  height: 500px;
}

.purchase-title {
  text-align: center;
}

.purchase-buttons {
  background-image: none;
}

.info-text {
  color: darkgray;
}

.purchase-box {
  margin: 2% 0 2% 0;
}

.store-label {
  padding-top: 3px;
  padding: 0 12px;
  text-align: left;
}

.store-label p {
  float: left;
  color: gray;
  padding: 0;
  margin: 0;
}

#store-area-dropdown {
  margin: 0 auto;  /* center align */
}
