.pl-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #b59580;
  margin: 30px 0 50px 0;
  border-radius: 10px;
}

@media screen and (max-width: 750px) {
  .pl-box {
    flex-direction: column;
  }
}

.purchaselink-item {
  padding: 3%;
  font-size: 1.4em;
  text-decoration: none;
}

.purchaselink-item:hover{
  color : white;
}

