.map {
  width: 100%;
  height: 500px;
}

.purchase-title {
  text-align: center;
}

.purchase-buttons {
  background-image: none;
}

.info-text {
  color: darkgray;
}

.purchase-box {
  margin: 2% 0 2% 0;
}

