.body {
  margin: 0 !important;
  padding: 0 !important;
}

.element {
  background-color: white;
  padding-left: 0;
}

.active {
  background-color: white !important;
  transition: background-color 0.5s;
  color: #663333 !important;
}

.active a:hover {
  text-decoration : none;
}

.scrollnav {
  position: fixed;
  top: 50px;
  width: 100vw;
  height: 50px;
  background-color: #663333;
  display: flex;
  justify-content: center;
  flex-direction: row;
  vertical-align: middle;
  z-index: 10;
}

.scrollnav-item {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  flex-direction: column;
  background: #663333;
  text-align: center;
  color : #999999;
  font-size : 1.2em;
}

@media screen and (max-width: 760px) {
  .scrollnav-item {
    margin: 0 10px 0 10px;
  }
}

@media screen and (max-width: 500px) {
  .scrollnav-item {
    margin: 0;
    padding: 0 10px;
  }
}

.scrollnav-item:hover{
  text-decoration: none;
  color : white;
  transition: color 0.3s;
}
