.body {
  margin: 0 !important;
  padding: 0 !important;
}

.element {
  height:1000px;
  background-color: #ededed;
  font-size: 45px;
  border-top:1px solid #000;
  padding-top:55px;
  padding-left:10px;
}

.active {
  color: white !important;
}

.active a:hover {
  text-decoration : none;
}

.scrollnav {
  position: fixed;
  top: 50px;
  width: 100vw;
  height: 50px;
  background-color: #663333;
  display: flex;
  justify-content: center;
  flex-direction: row;
  vertical-align: middle;
}

.scrollnav-item {
  width: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #663333;
  text-align: center;
  color : #999999;
  font-size : large;
}

.scrollnav-item:hover{
  text-decoration: none;
  color : #333333;
}
