.body {
  margin: 0 !important;
  padding: 0 !important;
}

.element {
  background-color: #ededed;
  border-top: 1px solid #000;
  padding-left: 10px;
}

.active {
  color: white !important;
}

.active a:hover {
  text-decoration : none;
}

.scrollnav {
  position: fixed;
  top: 50px;
  width: 100vw;
  height: 50px;
  background-color: #663333;
  display: flex;
  justify-content: center;
  flex-direction: row;
  vertical-align: middle;
  z-index: 10;
}

.scrollnav-item {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  flex-direction: column;
  background: #663333;
  text-align: center;
  color : #999999;
  font-size : large;
}

@media screen and (max-width: 760px) {
  .scrollnav-item {
    margin: 0 10px 0 10px;
  }
}

.scrollnav-item:hover{
  text-decoration: none;
  color : #333333;
}
